<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Martin Brugnara">

        <meta name="keywords" content="Martin Brugnara, dbTrento, University of Trento, data science, data mining, databases, data profiling, data exploration, DMBCAU.">
        <meta name="robots" content="index,follow">

        <link rel="icon" href="/assets/images/favicon.ico">
        <link rel="stylesheet" href="/assets/css/styles.css">

        {% seo %}
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
    </body>
</html>
